{% load static %}
{% load multiply %}
{% load gettotal %}
<div class="small-container cart-page">
    {% if carts %}
        <table>
            <thead>
                <tr>
                    <th>Media</th>
                    <th>Title</th>
                    <th>Date &amp; Time</th>
                    <th>Action</th>
                </tr>
            </thead>
            <tbody>
                {% for cart_item in carts.added_items.all %}
                <tr>
                    <td>
                        {% if cart_item.product.media_type == 'image' %}
                            <img src="{{ cart_item.product.media_file.url }}" width="80" alt="{{ cart_item.product.title }}">
                        {% elif cart_item.product.media_type == 'video' %}
                            <video width="80" height="60" muted playsinline>
                                <source src="{{ cart_item.product.media_file.url }}" type="video/mp4">
                                Your browser does not support the video tag.
                            </video>
                        {% endif %}
                    </td>
                    <td>
                        {{ cart_item.product.title }}
                    </td>
                    <td>
                        {{ cart_item.updated_at }}
                    </td>
                    <td>
                        <a href="{% url 'remove_from_cart' cart_item.id %}" class="remove-link">Remove</a>
                    </td>
                </tr>
                {% endfor %}
            </tbody>
        </table>
    {% else %}
        <p>Cart is Empty</p>
    {% endif %}
</div>
